<div class="mcq-container">
    <div class="mcq-question">
      <h3>{{ mcq.question }}</h3>
    </div>
    
    <!-- MCQ with options -->
    <div *ngIf="mcq.options; else typeAnswer">
      <div class="options">
        <div *ngFor="let option of mcq.options">
          <input pInputText type="radio" name="option" [(ngModel)]="selectedOption" [value]="option">
          <label>{{ option }}</label>
        </div>
      </div>
      <p-button (click)="checkAnswer()">Submit</p-button>
    </div>
  
    <!-- MCQ without options -->
    <ng-template #typeAnswer>
      <input pInputText type="text" [(ngModel)]="userAnswer" placeholder="Type your answer here">
      <p-button class="ms-2" (click)="checkAnswer()">Submit</p-button>
    </ng-template>
  
    <!-- Feedback Section -->
    <div class="feedback" [ngClass]="{'correct': feedback.includes('correct'), 'wrong': feedback.includes('wrong')}">
      {{ feedback }}
    </div>
  
    <!-- Show Answer Button -->
    <div *ngIf="!mcq.options && feedback.includes('try again')">
      <p-button (click)="revealAnswer()">Show Answer</p-button>
    </div>
  
    <!-- Display Correct Answer -->
    <div *ngIf="showCorrectAnswer">
      <p class="correct-answer">Correct Answer: {{ mcq.answer }}</p>
    </div>
  </div>
  
