<div class="mcq-container">
    <div class="mcq-question">
      <h3>{{ currentQuestion.question }}</h3>
    </div>
    
    <!-- MCQ with options -->
    <div *ngIf="currentQuestion.options; else typeAnswer">
      <div class="options">
        <div *ngFor="let option of currentQuestion.options">
          <input pInputText type="radio" name="option" [(ngModel)]="selectedOption" [value]="option">
          <label>{{ option }}</label>
        </div>
      </div>
      <p-button (click)="checkAnswer()">Submit</p-button>
    </div>
  
    <!-- MCQ without options -->
    <ng-template #typeAnswer>
      <input pInputText type="text" [(ngModel)]="userAnswer" placeholder="Type your answer here">
      <p-button class="ms-2" (click)="checkAnswer()">Submit</p-button>
    </ng-template>
  
    <!-- Feedback Section -->
    <div class="feedback" [ngClass]="{'correct': feedback.includes('correct'), 'wrong': feedback.includes('wrong')}">
      {{ feedback }}
    </div>
  
    <!-- Show Answer Button -->
    <div *ngIf="!currentQuestion.options && feedback.includes('try again')">
      <button (click)="revealAnswer()">Show Answer</button>
    </div>
  
    <!-- Display Correct Answer -->
    <div *ngIf="showCorrectAnswer">
      <p class="correct-answer">Correct Answer: {{ currentQuestion.answer }}</p>
    </div>
  
    <!-- Navigation Buttons -->
    <div class="navigation-buttons">
      <button [disabled]="currentQuestionIndex === 0" (click)="previousQuestion()">Previous</button>
      <button [disabled]="currentQuestionIndex === mcqs.length - 1" (click)="nextQuestion()">Next</button>
    </div>
  </div>
  