/* src/app/article-card/article-card.component.css */

.article-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .ui-g {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  button {
    width: 48%;
  }
  