<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true"
  *ngIf="loading"
>
  <p style="color: white; font-size: 18px;">Please wait, response is coming...</p>
</ngx-spinner>

<div class="app-container" *ngIf="!loading">
  <app-article-card
    [title]="articles[currentIndex].title"
    [summary]="articles[currentIndex].summary"
    [fullText]="articles[currentIndex].full_text">
  </app-article-card>

  <div *ngIf="showMCQfield">
    <!-- <div *ngFor="let mcq of articles[currentIndex]?.mcq"> -->
      <app-mcq-card [mcqs]="articles[currentIndex].mcq"></app-mcq-card>
    <!-- </div> -->
  </div>

  <div class="d-flex">
    <button pButton type="button" class="btn btn-primary" label="Next Article" icon="pi pi-chevron-right" (click)="nextArticle()"></button>
    <button pButton type="button" class="btn btn-primary ms-4" label="Show MCQs"  (click)="showMCQs()"></button>
  </div>
</div>